#itemPageTitle {
  font-size: 30px;
  left: 30px;
  box-sizing: border-box;
}

#itemPageCollege {
  font-size: 15px;
  left: 30px;
  box-sizing: border-box;
}

#itemPageType {
  font-size: 15px;
  left: 30px;
  box-sizing: border-box;
}

#itemPageDescription {
  font-size: 15px;
  left: 30px;
  box-sizing: border-box;
  text-indent: 60px;
}

#itemPageCost {
  font-size: 15px;
  left: 30px;
  box-sizing: border-box;
}

#itemPageDuration {
  font-size: 15px;
  left: 30px;
  box-sizing: border-box;
}

#itemPageTimeToCast {
  font-size: 15px;
  left: 30px;
  box-sizing: border-box;
}

#itemPagePrerequisites {
  font-size: 15px;
  left: 30px;
  box-sizing: border-box;
}
