body, html {
    background-color: #430161;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    height: 750px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    width: 414px;
    border: 2px solid white;
}

.spell {
    border-bottom: 1px solid gray;
    font-size: 25px;
    height: 60px;
    line-height: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.spellCollege {
    font-size: 18px;
    left: 70px;
    position: relative;
    top: -25px;
}

.spellTitle {
    left: 10px;
    position: relative;
    top: -25px;
}

#backButton {
    background-image: url("backButton.png");
    background-size: cover;
    border: none;
    height: 50px;
    width: 50px;
}

#charAddButton {
    background-image: url("addToCharButton.png");
    background-size: cover;
    border: none;
    height: 50px;
    position: relative;
    width: 50px;
}

#charactersTab {
    background-image: url("charactersTab.png");
    background-repeat: no-repeat;
    border-radius: 5px;
    background-position: center;
    background-color: #430161;
    background-size: 50px 50px;
    border: none;
    height: 50px;
    left: 50%;
    margin-top: 10px;
    position: fixed;
    transform: translate(-50%);
    width: 100px;
}

#createNewSpellButton {
    background-image: url("newSpellButton.png");
    background-size: cover;
}

#createNewSpellButton,
#settingsButton {
    border: none;
    height: 50px;
    margin: 5px;
    width: 50px;
}

#editButton {
    background-image: url("editButton.png");
    background-size: cover;
    border: none;
    float: right;
    height: 50px;
    margin-right: 10px;
    width: 50px;
}

#footer {
    border-top: 2px #FFF solid;
    height: 60px;
    width: 412px;
}

#header {
    border-bottom: 2px #FFF solid;
    height: 100px;
}

#mainContent {
    -webkit-overflow-scrolling: touch;
    height: 550px;
    overflow-y: scroll;
}

#searchBar {
    background-color: #430161;
    border: 2px solid #FFF;
    border-radius: 45px;
    font-size: 15px;
    height: 30px;
    position: relative;
    top: -20px;
    width: 266px;
    color: white;
}

#settingsButton {
    background-image: url("filterSettingsButton.png");
    background-size: cover;
}

#settingsTab {
    background-image: url("settingsTab.png");
    background-repeat: no-repeat;
    border-radius: 5px;
    background-position: center;
    background-color: #430161;
    background-size: 50px 50px;
    border: none;
    height: 50px;
    left: 75%;
    margin-top: 10px;
    position: fixed;
    transform: translate(-50%);
    width: 100px;
}

#spellListTab {
    background-image: url("spellListTab.png");
    background-repeat: no-repeat;
    border-radius: 5px;
    background-position: center;
    background-color: #430161;
    background-size: 50px 50px;
    border: none;
    height: 50px;
    left: 25%;
    margin-top: 10px;
    position: fixed;
    transform: translate(-50%);
    width: 100px;
    border: 3px #760f78 solid;
}

#spellPageTitle {
    font-size: 30px;
    margin-left: 30px;
}

.submitButton {
    align-self: center;
    background-color: #75249a;
    border: none;
    border-radius: 10px;
    height: 40px;
    left: 50%;
    position: fixed;
    top: 550px;
    transform: translate(-50%);
    width: 100px;
}

#nameTextBoxEdit {
    height: 40px;
    position: fixed;
    top: 50px;
    width: 300px;
}

#nameTextBoxCreate {
    height: 40px;
    position: fixed;
    top: 50px;
    width: 300px;
}

#charactersPage,
#settingsPage {
    background-color: #430161;
    border: 1px #FFF solid;
    display: none;
    height: 651px;
    left: 0;
    position: absolute;
    top: 0;
    width: 412px;
    z-index: 1;
}

#spellCreate,
#spellEdit,
#spellPage {
    background-color: #430161;
    border: 1px #FFF solid;
    display: none;
    height: 714px;
    left: 0;
    position: absolute;
    top: 0;
    width: 412px;
    z-index: 1;
}

#spellsTabButton {
    background-image: url("spellsTabButton.png");
    background-repeat: no-repeat;
    border-radius: 5px;
    background-position: center;
    background-color: #430161;
    background-size: 34px 34px;
    border: none;
    height: 34px;
    left: 25%;
    top: 63px;
    position: fixed;
    transform: translate(-50%);
    width: 100px;
    border: 1px #760f78 solid;
}

#skillsTabButton {
  background-image: url("skillsTabButton.png");
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: center;
  background-color: #430161;
  background-size: 34px 34px;
  border: none;
  height: 34px;
  left: 50%;
  top: 63px;
  position: fixed;
  transform: translate(-50%);
  width: 100px;
}

#rulesTabButton {
  background-image: url("rulesTabButton.png");
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: center;
  background-color: #430161;
  background-size: 34px 34px;
  border: none;
  height: 34px;
  left: 75%;
  top: 63px;
  position: fixed;
  transform: translate(-50%);
  width: 100px;
}

#skillsTabPage {
    background-color: #430161;
    border: 1px #FFF solid;
    display: none;
    height: 651px;
    left: 0;
    position: absolute;
    top: 0;
    width: 412px;
    z-index: 1;
}

#rulesTabPage {
    background-color: #430161;
    border: 1px #FFF solid;
    display: none;
    height: 651px;
    left: 0;
    position: absolute;
    top: 0;
    width: 412px;
    z-index: 1;
}
