/* A class is the name of any element style that will be reused more than one.
An ID is the name of any element style that applies uniquely to one element.*/

body {
    background-color: #430161;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    height: 714px;
    width: 414px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    border: 3px outset red;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

div, button, span {
  box-sizing: border-box;
}

#mainContent {
  height: 550px;
}

#editPage {
  height: 712px;
  width: 412px;
  left: -2px;
  top: -2px;
  border: 2px outset blue;
  position: absolute;
  display: none;
  z-index: 2;
  background-color: #430161;
  border: 1px solid white;
  padding: 20px;
  box-sizing: border-box;
}

#editButton {
    background-image: url("editButton.png");
    background-size: cover;
    border: none;
    height: 50px;
    width: 50px;
    top: 5px;
    left: 359px;
    position: absolute;
    box-sizing: border-box;
}

#createPage {
  height: 712px;
  width: 412px;
  left: -2px;
  top: -2px;
  border: 2px outset blue;
  position: absolute;
  display: none;
  z-index: 2;
  background-color: #430161;
  box-sizing: border-box;
}

#itemPage {
  height: 712px;
  width: 412px;
  left: -2px;
  top: -2px;
  border: 2px outset blue;
  position: absolute;
  z-index: 2;
  background-color: #430161;
  display: none;
  box-sizing: border-box;
}

#inputItemSpan {
  top: 60px;
  position: absolute;
}

#itemPageTitle {
  font-size: 30px;
  left: 30px;
  top: 60px;
  position: absolute;
  box-sizing: border-box;
}

#inputItemTitle {
  border-radius: 5px;
  border: 2px white solid;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  height: 40px;
  width: 320px;
  background-color: #430161;
}

#filtersPage {
  height: 714px;
  width: 414px;
  left: 0px;
  top: 0px;
  position: absolute;
  display: none;
  z-index: 2;
  background-color: #430161;
}

#createPageButton {
  border: none;
  height: 50px;
  margin: 5px;
  width: 50px;
  background-image: url("createPageButton.png");
  background-size: cover;
}

#searchBar {
    background-color: #430161;
    border: 2px solid #FFF;
    border-radius: 45px;
    font-size: 15px;
    height: 30px;
    position: relative;
    top: -20px;
    width: 266px;
    color: white;
}

#filtersPageButton {
  border: none;
  height: 50px;
  margin: 5px;
  width: 50px;
  background-image: url("filtersPageButton.png");
  background-size: cover;
}

#spellsTabButton {
  background-image: url("spellsTabButton.png");
  position: absolute;
  transform: translate(-50%);
  background-size: 34px 34px;
  top: 63px;
  height: 34px;
  width: 100px;
  background-repeat: no-repeat;
  border: none;
  left: 25%;
  background-color: #430161;
  background-position: center;
  border: 1px #760f78 solid;
}

#spellsTab {
  height: 554px;
  width: 409px;
  left: -0.75px;
  top: 97px;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  z-index: 0;
  display: none;
  display: initial;
  border: 1px green solid;
}

#traitsTabButton {
  background-image: url("traitsTabButton.png");
  position: absolute;
  transform: translate(-50%);
  background-size: 34px 34px;
  top: 63px;
  height: 34px;
  background-color: #430161;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 100px;
  left: 50%;
}

#traitsTab {
  height: 550px;
  width: 412px;
  left: 0px;
  top: 100px;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  z-index: 0;
  display: none;
}

#rulesTabButton {
  background-image: url("rulesTabButton.png");
  position: absolute;
  transform: translate(-50%);
  width: 100px;
  background-color: #430161;
  background-position: center;
  background-size: 34px 34px;
  top: 63px;
  background-repeat: no-repeat;
  border: none;
  height: 34px;
  left: 75%;
}

#rulesTab {
  height: 550px;
  width: 412px;
  left: 0px;
  top: 100px;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  z-index: 0;
  display: none;
}

#listsTabButton {
  background-size: 50px 50px;
  margin-top: 5px;
  height: 50px;
  background-color: #430161;
  background-position: center;
  background-image: url("listsTabButton.png");
  position: absolute;
  transform: translate(-50%);
  width: 100px;
  background-repeat: no-repeat;
  border: none;
  left: 25%;
  border: 3px #760f78 solid;
}

#listsTab {
  height: 650px;
  width: 412px;
  left: 0px;
  top: 0px;
  position: absolute;
  background-color: #430161;
  display: none;
  z-index: 1;
}

#charactersTabButton {
  background-size: 50px 50px;
  margin-top: 5px;
  height: 50px;
  background-color: #430161;
  background-position: center;
  background-image: url("charactersTabButton.png");
  position: absolute;
  transform: translate(-50%);
  width: 100px;
  background-repeat: no-repeat;
  border: none;
  left: 50%;
}

#charactersTab {
  height: 650px;
  width: 412px;
  left: 0px;
  top: 0px;
  display: none;
  position: absolute;
  background-color: #430161;
  z-index: 1;
}

#settingsTabButton {
  background-size: 50px 50px;
  margin-top: 5px;
  height: 50px;
  background-image: url("settingsTabButton.png");
  position: absolute;
  background-color: #430161;
  background-position: center;
  transform: translate(-50%);
  width: 100px;
  background-repeat: no-repeat;
  border: none;
  left: 75%;
}

#settingsTab {
  height: 650px;
  width: 412px;
  left: 0px;
  top: 0px;
  display: none;
  background-color: #430161;
  position: absolute;
  z-index: 1;
}

.item {
    border-bottom: 1px solid gray;
    font-size: 25px;
    height: 60px;
    line-height: 20px;
    padding-left: 10px;
    width: 414px;
}

.itemName {
    left: 10px;
    position: relative;
    top: -25px;
}

.itemType {
    font-size: 18px;
    left: 70px;
    position: relative;
    top: -25px;
}

#header {
    border: 2px #FFF solid;
    left: -3px;
    height: 100px;
    width: 414px;
    position: absolute;
    z-index: 1;
    top: -3px;
}

#footer {
    border: 2px #FFF solid;
    left: -3px;
    height: 60px;
    width: 414px;
    position: absolute;
    z-index: 1;
    top: 651px;
}

#backButton {
    background-image: url("backButton.png");
    background-size: cover;
    border: none;
    height: 50px;
    width: 50px;
    top: 5px;
    left: 5px;
    position: absolute;
}

#addToCharacterButton {
  border: none;
  height: 50px;
  margin: 5px;
  width: 50px;
  background-image: url("addToCharButton.png");
  background-size: cover;
  position: relative;
}

#submitButton {
    transform: translate(-50%);
    background-color: #75249a;
    border: none;
    border-radius: 10px;
    height: 40px;
    left: 50%;
    position: absolute;
    top: 550px;
    width: 100px;
}

#nameTextBoxCreate {
    height: 40px;
    position: fixed;
    top: 50px;
    width: 300px;
}
